.customImg {
  height: 250px;
  border: 5px solid black;
  box-shadow: 5px 5px 5px gray;
  transition: all 150ms ease-in-out;
  padding: 5px;
}

.customImg:hover {
  border: 20px double #472D9A;
  box-shadow: 10px 10px 5px gray;
}

.gameMsg {
  font-size: 2em;
  text-align: center;
  margin: 10px;
}

.gameMsg.correct {
  color: green;
}

.gameMsg.incorrect {
  color: red;
}